@model TodoApplication.Models.TodoItem

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Add Your New Task</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p><strong>@TempData["FormMsg"]</strong></p>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group mb-4">
            @Html.LabelFor(model => model.Task, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Task, new { htmlAttributes = new { @class = "form-control", type = "multiline" } })
                @Html.ValidationMessageFor(model => model.Task, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group mb-4">
                @Html.LabelFor(model => model.IsCompleted, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsCompleted)
                        @Html.ValidationMessageFor(model => model.IsCompleted, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        @*<div class="form-group mb-4">
                @Html.LabelFor(model => model.TaskCreated, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TaskCreated, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TaskCreated, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-4">
                @Html.LabelFor(model => model.TaskUpdated, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TaskUpdated, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TaskUpdated, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-4">
                @Html.LabelFor(model => model.TaskCompletionDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TaskCompletionDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TaskCompletionDate, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary p-2 mt-2" />
                @Html.ActionLink("Back to List", "Index", null, null, new { @class = "text-decoration-none text-white btn btn-dark p-2 mt-2" })
            </div>
        </div>
    </div>
}
